<!--The content below is only a placeholder and can be replaced.-->
<div style="background: black;height: 100vh;overflow: hidden;position: absolute;margin-top: -1rem ">
  <div>
    <app-header></app-header>
  </div>
  <div style="margin: 2rem;display: flex">
    <div fxflex="60" style="height: calc(100vh - 7rem);overflow-x: auto;" class="custom-scroll" > 
      <app-info-container></app-info-container>
    </div>
    <div fxFlex="40">
      <app-side-nav-container></app-side-nav-container>
    </div>
  </div>
</div>
